/* main components */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');

/* main colors - components*/
:root {
--bodyfont: 'Montserrat';
--fontsize: 1rem;
--maincolor: #ffeddf; 
--secondcolor: #4e77b6;
--thirdcolor: #01295f;
}



/*loading code, different text at different times*/

@keyframes fakeloadinganimation{
  0%{
    width: 0px;
    top: calc(50vh - 50px);
    content: "Loading... please wait";
    transition: ease;
    text-align: left;
  }
  75%{
    width: 300px;
    top: calc(50vh - 50px);
    content: "Loading... please wait";
    text-align: center;
  }
  75.1%{
    width: 300px;
    top: calc(50vh - 50px);
    content: "Done!";
    text-align: center;
  }
  85%{
    top: calc(50vh - 100px);
    width: 300px;
    content: "Done!";
    text-align: center;
  }
  100%{
    top: calc(150vh - 50px);
    width: 300px;
    content: "Done!";
    text-align: center;
  }
}
/* Characterstics of Loading Text*/html::before{
  content: "Loading... please wait";
  height: 100px;
  position: fixed !important;
  margin: 0px;
  padding: 0px;
  top: calc(150vh - 50px);
  left: calc(50vw - 150px);
  background-color: #ffeddf;
  color: #ffeddf !important;
  line-height: 100px;
  white-space: nowrap;
  font-size: 30px !important;
  z-index: 1000000000 !important;
  animation: fakeloadinganimation 2s ease !important;
  width: 300px !important;
  box-shadow: 0px 0px 0px 5px white, 0px 50vw 0px calc(50vw + 50vh - 50px) #AD343E, 0px 0px 0px 5px white !important; 
  display: block !important;
}
html::after{
  content: "Loading... please wait";
  height: 100px;
  width: 0px;
  position: fixed !important;
  margin: 2px;
  padding: 0px;
    top: calc(150vh - 50px);
  left: calc(50vw - 150px);
  background-color: #ffeddf;
  color:#01295f !important;
  line-height: 100px;
  z-index: 1000000001 !important;
  white-space: nowrap;
  font-size: 30px !important;
  animation: fakeloadinganimation 2s ease !important;
  overflow: hidden !important;
}

/*loading animation*/ 

/*main page*/
/*colors for different text*/

body{
  background-color: var(--maincolor);
}
h1{
  font-family: var(--bodyfont);
}
p{
  font-family: var(--bodyfont);
}
div{
  font-family: var(--bodyfont);
}

/* buttons */
.button {
  display: inline-block;
  margin: 15px; /* space between buttons */
  background: var(--secondcolor); /* background color */
  color: var(--thirdcolor); /* text color */
  font-size: 1.5em;
  font-family: var(--bodyfont);
  font-style: italic;
  border-radius: 50px; /* rounded corners */
  padding: 25px 50px; /* space around text */
  -moz-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
/*Hover over button, change color*/.button:hover {
  background: var(--thirdcolor);
  color: #c1e1e0;
}
/* buttons */

/* dropdowns */
/*.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
*/
/* VARUN.question{
  font-size: 30px;
  /*text-align: center;*/
  /*position: sticky;*/
  /*margin-bottom: 10px;*
}*/
.answers{
  margin-bottom: 20px;
  text-align: center;
  /*position: sticky;*/
  display: inline-block;
}
.answers label{
  display: block;
 /* text-align: center;
  position: sticky;*/
  margin-bottom: 10px;
}


/* CSS Navigation Bar */
/*Centers "button" in the middle of the page
body {
/*Centers "button" in the middle of the page*/
/*body {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.question {
  background-color: #199319;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
}

.question:hover {
  background-color: #223094;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.answers {
  background-color: #199319;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
}

.answers:hover {
  background-color: #223094;
}


*/